# TUPLAS

Una tupla es un par ordenado de elementos que almacenan juntos *(x,y)*
Es una secuencia de datos indexada
Las tuplas son

- Ordenada: Los elementos tienen un orden definido y no cambian

In [2]:
tupla1 =(1,2,3)
tupla2 =(3,2,1)
print(tupla1==tupla2)

False

- Indexada:Cada elmento tiene un indice

In [4]:
tupla = (1,2,3)
tupla[0]
tupla[1]
tupla[2]

3

## Para que se usa una Tupla
- Empaquetado y desempaquetado de valores

In [5]:
coordenadas = (3,5)
x,y = coordenadas

- Enviar y devolver multiples valores de una funcion

In [6]:
def coordenadas(coordenada):
    x,y = coordenada
    x = x + 1
    y = y + 1
    return (x,y)

- En diccionarios se puede utilizar una tupla como una llave compuesta

In [7]:
agenda = {('Juan','Perez'): 1234567}

- Una tupla puede almacenar cualquier tipo de dato a la vez

In [8]:
tupla = (1,2.0,'hola',True)

### Tupla de enteros

In [9]:
print ("Tupla de enteros")
enteros = (1,2,3,4,5,6)
print (enteros)
print (type(enteros))

Tupla de enteros
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### Tupla de cadenas

In [10]:
print ("Tupla de cadenas")
cadenas = ("hola", "mundo", "desde", "python")
print (cadenas)
print (type(cadenas))

Tupla de cadenas
('hola', 'mundo', 'desde', 'python')
<class 'tuple'>

### Tuplas mixtas

In [ ]:
print ("Tupla Mixta") 
mixta = (1, "hola", True, 2.5)
print (mixta)
print (type(mixta))

### Tuplas vacia

In [ ]:
print ("Tupla vacia")
vacia = ()
print (vacia)
print (type(vacia))

### Tupla con un solo elemento

In [11]:
print ("Tupla de un solo elemento")
uno = (1,)
print (uno)
print (type(uno))

Tupla de un solo elemento
(1,)
<class 'tuple'>

### Tupla de una cadena

In [12]:
print ("Tupla utilizando la función tuple()")
constructor = tuple("hola")
print (constructor)
print (type(constructor))

Tupla utilizando la función tuple()
('h', 'o', 'l', 'a')
<class 'tuple'>

* Acceso a indices positivos *

In [13]:
print ("Indexado positivo de una tupla")
tupla = (1,2.0, "hola", True)
print (tupla[0], type(tupla[0]))
print (tupla[1], type(tupla[1]))
print (tupla[2], type(tupla[2]))
print (tupla[3], type(tupla[3]))

Indexado positivo de una tupla
1 <class 'int'>
2.0 <class 'float'>
hola <class 'str'>
True <class 'bool'>

### Acceso utilizando índices negativos

In [14]:
print ("Indexado negativo de una tupla")
tupla = (1,2.0, "hola", True)
print (tupla[-1], type(tupla[-1]))
print (tupla[-2], type(tupla[-2]))
print (tupla[-3], type(tupla[-3]))
print (tupla[-4], type(tupla[-4]))

Indexado negativo de una tupla
True <class 'bool'>
hola <class 'str'>
2.0 <class 'float'>
1 <class 'int'>

### Slicing
tupla[inicio:fin:paso]

In [15]:
print ("Slicing de una tupla")
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[0:5]
print (sub_tupla)
print (type(sub_tupla))

Slicing de una tupla
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 1, 2, 3, 4)
<class 'tuple'>

### Slicing con paso positivo

In [16]:
print ("Slicing de una tupla con saltos")
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[0:10:2]
print (sub_tupla)
print (type(sub_tupla))

Slicing de una tupla con saltos
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 2, 4, 6, 8)
<class 'tuple'>

### Slicing con paso negativo

In [17]:
print ("Slicing de una tupla con saltos negativos")
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[7:2:-2]
print (sub_tupla)
print (type(sub_tupla))

Slicing de una tupla con saltos negativos
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(7, 5, 3)
<class 'tuple'>

### Concatenación de tuplas

In [18]:
print ("Concatenación de tuplas")
tupla1 = (1,2,3)
tupla2 = (4,5,6)
concatenar = tupla1 + tupla2
print (tupla1, tupla2)
print (concatenar)
print (type(concatenar))

Concatenación de tuplas
(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### Repetición de tuplas

In [19]:
print ("Repetición de tuplas")
tupla = (1,2,3)
repetir = tupla * 3
print (tupla)
print (repetir)
print (type(repetir))

Repetición de tuplas
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
<class 'tuple'>

### Asignación múltipla de valores

In [20]:
print ("Asignación múltiple")
persona = ("Jhon", "Doe", 22, 1.75)
nombre, apellido, edad, estatura = persona
print (persona)
print (nombre)
print (apellido)
print (edad)
print (estatura)

Asignación múltiple
('Jhon', 'Doe', 22, 1.75)
Jhon
Doe
22
1.75

## Metodo de las tuplas
Las tuplas son inmutables, no tienen métodos que modifiquen su contenido

Solo tienen dos métodos

count()
index()
Se llama a los métodos utilizando la notación con punto

tupla.metodo()

**index()**recibe un valor y devuelve el índice de la primera aparición de ese valor

Si el valor no existe en la tupla, se genera un error

In [21]:
print ("Método index(valor)")
tupla = (1,2.0, "hola", True)
print (tupla.index(2.0))
print (tupla.index("hola"))

Método index(valor)
1
2

**count()** recibe un valor y devuelve el número de veces que aparece en la tupla

In [22]:
print ("Método count(valor)")
tupla = (1, 2.0, "hola", False, "hola", "HOLA")
print (tupla.count(1))
print (tupla.count("hola"))
print (tupla.count(10))

Método count(valor)
1
2
0

### Funciones con tuplas
Las tuplas interactúan con funciones propias de Python estas son las más importantes

len()
max()
min()
sum()

**len()** devuelve la longitud de la tupla

In [32]:
print ("Función len()")
tupla = (1,2.0, "hola", True)
longitud = len(tupla)
print (tupla)
print (longitud)

Función len()
(1, 2.0, 'hola', True)
4

**max()**devuelve el valor máximo de la tupla, se debe asegurar que los elementos sean comparables entre sí

In [33]:
print ("Función max()")
tupla = (1,2,10,5,8,0)
maximo = max(tupla)
print (tupla)
print (maximo)

Función max()
(1, 2, 10, 5, 8, 0)
10

**min()** devuelve el valor mínimo de la tupla, se debe asegurar que los elementos sean comparables entre sí

In [34]:
print ("Función min()")
tupla = ("a","z","c","b","f","d")
minimo = min(tupla)
print (tupla)
print (minimo)

Función min()
('a', 'z', 'c', 'b', 'f', 'd')
a

**sum()** devuelve la suma de los elementos de la tupla

Se debe asegurar que los elementos sean numéricos

In [35]:
print ("Función sum()")
tupla = (1.0, 0.5, 2.5, 3.1)
suma = sum(tupla)
print (tupla)
print (suma)

Función sum()
(1.0, 0.5, 2.5, 3.1)
7.1

### Tuplas Anidadas
Una tupla puede contener otras tuplas como elementos

In [36]:
print ("Tuplas anidadas")
tupla = (1,2,3, (4,5,6))
print (tupla)
print (tupla, type(tupla))
print (tupla[3], type(tupla[3]))
print (tupla[3][0], type(tupla[3][0]))

Tuplas anidadas
(1, 2, 3, (4, 5, 6))
(1, 2, 3, (4, 5, 6)) <class 'tuple'>
(4, 5, 6) <class 'tuple'>
4 <class 'int'>

In [37]:
print ("Tuplas anidadas")
tupla = (1,2,3, (4,5,6))
print (tupla, type(tupla))
anidado = tupla[3]
print (anidado, type(anidado))
valor_anidado_0 = anidado[0]
print (valor_anidado_0, type(valor_anidado_0))
valor_anidado_1 = tupla[3][1]
print (valor_anidado_1, type(valor_anidado_1))

Tuplas anidadas
(1, 2, 3, (4, 5, 6)) <class 'tuple'>
(4, 5, 6) <class 'tuple'>
4 <class 'int'>
5 <class 'int'>